@model Incident
@{ ViewData["Title"] = "Add a new incident"; 

}
<h2>@ViewData["Title"]</h2>

<form asp-action="EditIncident" asp-controller="TechIncident" method="post">

    <div class="form-group">
        <label asp-for="CustomerId">Customer</label>
        @Model.Customer.FirstName @Model.Customer.LastName
        <select class="d-none form-control" asp-for="CustomerId">
            <option value="@Model.CustomerId">@Model.Customer.FirstName @Model.Customer.LastName</option>
        </select>

    </div>
    <div class="form-group">
        <label asp-for="ProductId">Product</label>
        @Model.Product.Name
        <select class="d-none form-control" asp-for="ProductId">
            <option value="@Model.ProductId">@Model.Product.Name</option>
        </select>

    </div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        @Model.Title
        <input class="d-none form-control" value="@Model.Title" asp-for="Title" placeholder="Enter title here" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea class="form-control" asp-for="Description" placeholder="Describe incident here"></textarea>

    </div>
    <div class="form-group">
        <label asp-for="DateOpened">Date Opened</label>
        @Model.DateOpened
        <input class="d-none form-control" asp-for="DateOpened" type="datetime-local" value="@Model.DateOpened" />

    </div>
    <div class="form-group">
        <label asp-for="TechnicianId">Technician</label>
        @Model.Technician.Name
        <select class="d-none form-control" asp-for="TechnicianId">
            <option value="@Model.TechnicianId">@Model.Technician.Name</option>
        </select>

    </div>
    <div class="form-group">
        <label asp-for="DateClosed">Date Closed</label>
        <input class="form-control" asp-for="DateClosed" type="datetime-local" value="" />

    </div>
    <input type="hidden" asp-for="IncidentId" />

    <button class=" btn btn-primary" type="submit">Save</button>
    <button type="submit" class="btn btn-danger" asp-controller="TechIncident" asp-action="List">Cancel</button>
</form>