@model IEnumerable<Product>
@{
    ViewData["Title"] = "Add a new product";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product product in Model)
        {
        <tr>
            <td>@product.Code</td>
            <td>@product.Name</td>
            <td>@product.YearlyPrice</td>
            <td>@product.ReleaseDate</td>
            <td><a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId">Delete</a></td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add Product</a>

