@model Technician
@{ ViewData["Title"] = "Add a new technician"; }
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="Name">Full Name</label>
        <input asp-for="Name" class="form-control">
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        <hr />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control">
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        <hr />
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control">
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        <hr />
    </div>

    <input type="hidden" asp-for="TechnicianId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <button type="submit" class="btn btn-warning" asp-controller="Technician" asp-action="List">Cancel</button>
</form>
