@model IEnumerable<Technician>
@{
    ViewData["Title"] = "Technician Manager";
}
<h2 class="h">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table mx-auto w-100 t">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            @foreach (Technician technician in Model)
            {
        <tr>
            <td>@technician.Name</td>
            <td>@technician.Email</td>
            <td>@technician.Phone</td>
            <td><a class="btn btn-primary" asp-controller="Technician" asp-action="Edit" asp-route-id="@technician.TechnicianId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Technician" asp-action="Delete" asp-route-id="@technician.TechnicianId">Delete</a></td>
        </tr>
        }

        </tbody>
</table>

<a class="btn btn-primary" asp-area="" asp-controller="Technician" asp-action="Add">Add Technician</a>
